[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "==1.4.46"
flask-sqlalchemy = "*"
flask-swagger = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
cloudinary = "*"
flask-admin = "*"
typing-extensions = "*"
flask-jwt-extended = "==4.6.0"
wtforms = "==3.1.2"
flask-migrate = "*"
mercadopago = "*"
flask = "*"
flask-cors = "*"

[requires]
python_version = "3.13"

[scripts]
start = "flask --app src.app run -p 3001 -h 0.0.0.0"
init = "flask db init"
migrate = "flask db migrate"
upgrade = "flask db upgrade"
downgrade = "flask db downgrade"
insert-test-reservas = "flask --app src.app insert-test-reservas 5"
delete-all-reservas = "flask --app src.app delete-all-reservas"
show-admin = "flask --app src.app show-admin"
reset_db = "bash ./docs/assets/reset_migrations.bash"
deploy = "echo 'Please follow this 3 steps to deploy: https://github.com/4GeeksAcademy/flask-rest-hello/blob/master/README.md#deploy-your-website-to-heroku'"
local = "heroku local"
