body {
	background-color: #fdf7f4; 
}

.container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.card {
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	background-color: white;
	border: none;

	position: relative;
	min-height: 280px; 
	display: flex;
	flex-direction: column;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-img {
	height: 180px;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.card-body {
	padding-bottom: 3rem;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-title {
	text-align: center;
	font-size: 1.1rem;
	color: #333;
	font-weight: 600;
	margin-top: 10px;
}

@media (max-width: 576px) {
	.card-title {
		font-size: 1rem;
	}
}

.card-info-button {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 5px 10px;
	border-radius: 10px;
	border: none;
	background-color: #f0f0f0;
	cursor: pointer;
	font-size: 0.8rem;
	transition: background-color 0.3s ease;

	display: flex;
	align-items: center;
	gap: 6px;
}

.card-info-button:hover {
	background-color: #e0e0e0;
}

.card-info-button svg {
	display: block;
}
